<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESS.Properties.Settings.ESSConnectionString2" connectionString="Data Source=SERVER;Initial Catalog=ESS;Persist Security Info=True;User ID=hadi;Password=110119"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>